 </div>

    <footer>
      <div class="container">
        Doe um livro - <%= new Date().getFullYear() %>
      </div>
    </footer>

    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/dist/scripts/general.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <% for(var i = 0; i < page.scripts.length; i++) {%>
    <script src="<%= page.scripts[i] %>"></script>
    <% } %>
</body>
</html>