<!doctype html>
<html lang="pt-BR">
  <% include head %>
<body>
   <header class="navbar header-app" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="./" class="navbar-brand">Doe um livro</a>
        </div>
        <nav class="navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
                <li><a href="/donate"><i class="fa fa-heart-o"></i> Quero doar</a></li>
                <li><a href="/books">Quero participar dos sorteios</a></li>
                <li><a href="/#como-funciona">Como funciona</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right login-nav">
            <a href="/login" class="btn"><i class="fa fa-user"></i> Login</a>
            <a href="/signup" class="btn btn-primary">Cadastre-se</a>
          </ul>
        </nav>
      </div>
    </header>

    <div id="wrapper">

