<head>
    <meta charset="utf-8" />
    <title><%= page.title %></title>
    <meta name="description" content="<%= page.description %>" />
    <meta name="csrf-token" content="<%= token %>">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/styles/app.min.css" />
</head>