<% page.title = "Doe um livro!" %>
<% page.description = "Doe um livro" %>
<!-- views/index.ejs -->
<% include ./layouts/header %>
<section class="banner">
      <div class="container">
          <p>
              Pare o que está fazendo agora e olhe para sua estante. <br />
              Quantos livros parados a mais de um ano tem nela? Muitos né?
          </p>

          <p>
              Que tal fazer uma boa ação e doa-los para quem realmente tem interesse em ler? 
          </p>

          <div class="banner-btns">
              <a href="/donate" class="btn btn-lg btn-danger"><i class="fa fa-heart-o"></i> Quero doar</a>
              <a href="/books" class="btn btn-lg btn-default">Quero participar dos sorteios</a>
          </div>
      </div>
  </section>
<% include ./layouts/footer %>