body {
  background: #e4e6e5;
}
.header-app {
  margin-bottom: 0;
  background: #fff;
}
.login-nav {
  margin-top: 7px;

  .btn {
    margin-left: 10px;
  }
}
.banner {
  background: url(../images/books-bg.jpg) center center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;

  p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 32px;
  }

  .btn {
    margin: 0 10px;
  }
}
.success-msg {
  font-size: 60px;
  text-align: center;
  color: #999;
  margin: 40px 0;
}
.box {
  margin: 40px auto;
  padding: 20px;
  background: #fff;
}
.box-center {
  max-width: 350px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;

  .btn {
    margin-bottom: 20px;
  }
}

.tutorial {
  text-align: center;
  color: #666;
  .fa {
    font-size: 60px;
    color: #d9534f;
  }
}
.tutorial-step {
  border: 1px solid #d9534f;
  padding: 10px;
}

// PARSLEY
input.parsley-error, textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
ul.parsley-error-list {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li { 
      margin: 10px 0;
      color: #B94A48;
    }
}